{{define "test-editor.html"}}<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Editor test harness</title>
<link rel="stylesheet" href="/static/kb/editor.css">
</head>
<body>
<div id="toolbar">
  <button class="tb" id="btn-h2" type="button">Heading 2</button>
  <button class="tb" id="btn-h3" type="button">Heading 3</button>
  <button class="tb" id="btn-bold" type="button">Bold</button>
  <button class="tb" id="btn-italic" type="button">Italic</button>
  <button class="tb" id="btn-bullet" type="button">Bullet list</button>
  <button class="tb" id="btn-ordered" type="button">Numbered list</button>
  <button class="tb" id="btn-link" type="button">Link</button>
  <button class="tb" id="btn-table" type="button">Table</button>
  <button class="tb" id="btn-add-row" type="button">Add row</button>
  <button class="tb" id="btn-remove-row" type="button">Remove row</button>
  <button class="tb" id="btn-add-col" type="button">Add column</button>
  <button class="tb" id="btn-remove-col" type="button">Remove column</button>
  <button class="tb" id="btn-image" type="button">Image</button>
</div>
<div id="editor"></div>
<div id="paste-log"></div>
<script src="/static/vendor/editor/editor-3.31.3.js"></script>
<script src="/static/kb/test-editor.js"></script>
</body>
</html>
{{end}}
